sanic  # pip install -U sanic
websockets  # sanic自带了，不用安装，只是为了抑制IDE警告列出
numpy >= 2.0 # conda install numpy
redis[hiredis]  # pip install -U redis[hiredis]
GitPython  # pip install -U GitPython


# 开发环境用：
trustme  # pip install -U trustme
docker  # pip install -U docker
aiohttp  # pip install -U aiohttp
sanic-testing  # pip install -U sanic-testing

# conda install ipykernel ipywidgets