# for UnitTest
pytest
pytest-cov
trustme  # pip install -U trustme
docker  # pip install -U docker
aiohttp  # pip install -U aiohttp
sanic-testing  # pip install -U sanic-testing

# for maintaining
tqdm  # Conflict with Sanic
# conda install ipykernel ipywidgets