sanic ~= 25.3  # pip install -U sanic
numpy ~= 2.3 # conda install numpy>=2.0
redis[hiredis] ~= 6.2  # pip install -U redis[hiredis]
GitPython ~= 3.1 # pip install -U GitPython
sortedcontainers ~= 2.4
pyyaml ~= 6.0  # pip install -U pyyaml
orjson ~= 3.11  # pip install -U orjson
tabulate
wcwidth  # for chinese character alignment

websockets  # sanic comes with it, no need to install, just to suppress IDE warnings

# for UnitTest
trustme  # pip install -U trustme
docker  # pip install -U docker
aiohttp  # pip install -U aiohttp
sanic-testing  # pip install -U sanic-testing

# for maintaining
tqdm  # Conflict with Sanic
# conda install ipykernel ipywidgets